<html>
  <head>
    <title>Édite ton potin <‰= params['id'] ‰></title>
  </head>
  <body>
    <h1>Édite ici!</h1>
    <form action='/gossips/new/' method='POST'>
      Edite ici ton nom :  <input type='text' name='gossip_author' value="<‰= gossips.author.to_s ‰>"/><br/>
      Edite ici ton potin : <input type='text' name='gossip_content' value="<‰= gossips.content.to_s ‰>"/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
