<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>PAGE POTIN TINTIN</h1>
    <p>Voici la page du potin n° <%= params['id'] %> </p>
    <p>Son auteur :</p>
    <p>
      <%= gossips.author %><br/>
    </p>
    <p>Son potin :</p>
    <p>
      <%= gossips.content %>
    </p>
    <a href="/">Lien pour revenir à la page des potins</a>

    <p><a href="/gossips/edit/<%= params['id'] %>/">Éditer le potin</a></p>
  </body>
</html>
